Dataset is downloaded from Kaggle. Link: https://www.kaggle.com/giripujar/hr-analytics

In [3]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv("HR_comma_sep.csv")
df.head()

FileNotFoundError: [Errno 2] File HR_comma_sep.csv does not exist: 'HR_comma_sep.csv'

<h2 style="color:purple">Data exploration and visualization</h2>

In [ ]:
left = df[df.left==1]
left.shape

In [ ]:
retained = df[df.left==0]
retained.shape

**Average numbers for all columns**

In [5]:
df.groupby('left').mean()

NameError: name 'df' is not defined

From above table we can draw following conclusions,
<ol>
    <li>**Satisfaction Level**: Satisfaction level seems to be relatively low (0.44) in employees leaving the firm vs the retained ones (0.66)</li>
    <li>**Average Monthly Hours**: Average monthly hours are higher in employees leaving the firm (199 vs 207)</li>
    <li>**Promotion Last 5 Years**: Employees who are given promotion are likely to be retained at firm </li>
</ol>

**Impact of salary on employee retention**

In [6]:
pd.crosstab(df.salary,df.left).plot(kind='bar')

NameError: name 'df' is not defined

Above bar chart shows employees with high salaries are likely to not leave the company

**Department wise employee retention rate**

In [7]:
pd.crosstab(df.Department,df.left).plot(kind='bar')

NameError: name 'df' is not defined

From above chart there seem to be some impact of department on employee retention but it is not major hence we will ignore department in our analysis

<h3 style="color:purple">From the data analysis so far we can conclude that we will use following variables as independant variables in our model</h3>
<ol>
    <li>**Satisfaction Level**</li>
    <li>**Average Monthly Hours**</li>
    <li>**Promotion Last 5 Years**</li>
    <li>**Salary**</li>
</ol>

In [8]:
subdf = df[['satisfaction_level','average_montly_hours','promotion_last_5years','salary']]
subdf.head()

NameError: name 'df' is not defined

**Tackle salary dummy variable**

Salary has all text data. It needs to be converted to numbers and we will use dummy variable for that. Check my one hot encoding tutorial to understand purpose behind dummy variables.

In [9]:
salary_dummies = pd.get_dummies(subdf.salary, prefix="salary")

NameError: name 'subdf' is not defined

In [79]:
df_with_dummies = pd.concat([subdf,salary_dummies],axis='columns')

In [80]:
df_with_dummies.head()

,satisfaction_level,average_montly_hours,promotion_last_5years,salary,salary_high,salary_low,salary_medium
0,0.38,157,0,low,0,1,0
1,0.80,262,0,medium,0,0,1
2,0.11,272,0,medium,0,0,1
3,0.72,223,0,low,0,1,0
4,0.37,159,0,low,0,1,0

Now we need to remove salary column which is text data. It is already replaced by dummy variables so we can safely remove it

In [81]:
df_with_dummies.drop('salary',axis='columns',inplace=True)
df_with_dummies.head()

,satisfaction_level,average_montly_hours,promotion_last_5years,salary_high,salary_low,salary_medium
0,0.38,157,0,0,1,0
1,0.80,262,0,0,0,1
2,0.11,272,0,0,0,1
3,0.72,223,0,0,1,0
4,0.37,159,0,0,1,0

In [82]:
X = df_with_dummies
X.head()

,satisfaction_level,average_montly_hours,promotion_last_5years,salary_high,salary_low,salary_medium
0,0.38,157,0,0,1,0
1,0.80,262,0,0,0,1
2,0.11,272,0,0,0,1
3,0.72,223,0,0,1,0
4,0.37,159,0,0,1,0

In [83]:
y = df.left

In [91]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.3)

In [87]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [88]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [89]:
model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

**Accuracy of the model**

In [90]:
model.score(X_test,y_test)

0.78428571428571425