# One hot encoding and Dummy variables

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("homeprices.csv")
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [4]:
dummies = pd.get_dummies(df.town)
dummies.head()

   monroe township  robinsville  west windsor
0                1            0             0
1                1            0             0
2                1            0             0
3                1            0             0
4                1            0             0

In [9]:
df_with_dummies = pd.concat([df, dummies], axis = 'columns')
df_with_dummies.head()

              town  area   price  monroe township  robinsville  west windsor
0  monroe township  2600  550000                1            0             0
1  monroe township  3000  565000                1            0             0
2  monroe township  3200  610000                1            0             0
3  monroe township  3600  680000                1            0             0
4  monroe township  4000  725000                1            0             0

In [10]:
##Muliticore dummy variable problem is there: so we want to drop one of dummy variable. I drop west windsor

final = df_with_dummies.drop(['town','west windsor'], axis = 'columns')
final.head()

   area   price  monroe township  robinsville
0  2600  550000                1            0
1  3000  565000                1            0
2  3200  610000                1            0
3  3600  680000                1            0
4  4000  725000                1            0

In [11]:
from sklearn.linear_model import LinearRegression 
model = LinearRegression()

In [12]:
X = final.drop(['price'],axis = 'columns') #Droppinf the dependant variable
X.head()

   area  monroe township  robinsville
0  2600                1            0
1  3000                1            0
2  3200                1            0
3  3600                1            0
4  4000                1            0

In [13]:
Y = final.price
Y.head()

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [14]:
model.fit(X,Y)

LinearRegression()

In [21]:
model.predict([[28800,1,0]]) ## Predicting the price

array([3864422.7047942])

In [22]:
model.score(X,Y)

0.9573929037221873

In [29]:
from sklearn.preprocessing import LabelEncoder ##Using sklearn one hot encoder
le = LabelEncoder()

In [38]:
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [53]:
X = df[['town','area']].values

In [68]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features = [0])

TypeError: __init__() got an unexpected keyword argument 'categorical_features'

In [70]:
X = ohe.fit_transform(X).toarray()

In [59]:
X = X[:,1:]

In [61]:
model.fit(X,Y)

LinearRegression()

In [ ]:
model.predict([[2]])