# Save and load trained model using pickle, sklearn joblib

In [23]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [24]:
df = pd.read_csv("homeprices.csv")
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [30]:
model = linear_model.LinearRegression()
model.fit(df[['area']],df.price)

LinearRegression()

In [31]:
model.coef_

array([118.29495955])

In [32]:
model.intercept_

257056.627255756

In [33]:
model.predict([[5000]])

array([848531.42501556])

### Above is the model. now we are gonna save the model.

In [34]:
import pickle

In [35]:
with open('model_pickle','wb') as f:

SyntaxError: unexpected EOF while parsing (<ipython-input-35-efac046e7fba>, line 1)